Repository AlgoLeadMe/AlgoLeadMe-4, pull requests merged in 2024-01, with the labels that each got.

#3 1-hwangyerin
  Hwangyerin/README.md
  Hwangyerin/스택/올바른 괄호.py
Labels: Hwangyerin, 리뷰 기다리는 중 🔥

#2 1-LJEDD2
  LJEDD2/README.md
  LJEDD2/그리디/큰 수 만들기.py
Labels: LJEDD2, 리뷰 완료 ✔️

#5 1-avocado-13
  avocado-13/README.md
  avocado-13/구현/더하기 사이클.txt
Labels: avocado-13, 리뷰 완료 ✔️

#9 2-janghw0126
  janghw0126/README.md
  janghw0126/구현/Implementation_1.py
Labels: janghw0126, 리뷰 완료 ✔️

#12 2-Hwangyerin
  Hwangyerin/README.md
  Hwangyerin/큐/요세푸스 문제.py
Labels: Hwangyerin, 리뷰 완료 ✔️

#10 2-avocado-13
  avocado-13/누적 합/prefix sum.py
Labels: avocado-13, 리뷰 완료 ✔️

#11 2-LJEDD2
  LJEDD2/BFS/게임 맵 최단거리.py
  LJEDD2/README.md
Labels: LJEDD2, 리뷰 완료 ✔️

#16 3-avoacdo-13
  avocado-13/수학/new score.py
Labels: avocado-13, 리뷰 완료 ✔️

#15 3-LJEDD2
  LJEDD2/README.md
  LJEDD2/그리디/체육복.py
Labels: LJEDD2, 리뷰 완료 ✔️

#14 3-Hwangyerin
  Hwangyerin/README.md
  Hwangyerin/스택/포스택.py
Labels: Hwangyerin, 리뷰 완료 ✔️

#13 3-janghw0126
  janghw0126/README.md
  janghw0126/구현/Implementation_2.py
Labels: janghw0126, 리뷰 완료 ✔️

#18 4-avocado-13
  avocado-13/그리디/큰 수의 법칙.py
Labels: avocado-13, 리뷰 완료 ✔️

#17 4-Hwangyerin
  Hwangyerin/스택/탑.py
Labels: Hwangyerin, 리뷰 완료 ✔️

#20 4-janghw0126
  janghw0126/README.md
  janghw0126/구현/Implementation_3.py
Labels: janghw0126, 리뷰 완료 ✔️

#19 4-LJEDD2
  LJEDD2/README.md
  LJEDD2/큐/다리를 지나는 트럭.py
Labels: LJEDD2, 리뷰 완료 ✔️

#22 5-avocado-13
  avocado-13/그리디/1이 될 때까지.py
Labels: avocado-13, 리뷰 완료 ✔️

#24 5-janghw0126
  janghw0126/README.md
  janghw0126/수학/mathematics_1.py
Labels: janghw0126, 리뷰 완료 ✔️

#26 6-janghw0126
  janghw0126/README.md
  janghw0126/스택/stack_1.py
Labels: janghw0126, 리뷰 완료 ✔️

#25 6-Hwangyerin
  Hwangyerin/README.md
  Hwangyerin/자료 구조/숫자 카드 2.py
Labels: Hwangyerin, 리뷰 완료 ✔️

#27 6-avocado-13
  avocado-13/구현/a.txt
  avocado-13/수학/알고리즘 수업 - 점근적 표기 1 .py
Labels: avocado-13, 리뷰 완료 ✔️

#33 7-LJEDD2
  LJEDD2/BFS/점프 점프.py
  LJEDD2/README.md
Labels: LJEDD2, 리뷰 완료 ✔️

#31 7-Hwangyerin
  Hwangyerin/수학/한수.py
Labels: Hwangyerin, 리뷰 완료 ✔️

#34 8-Hwangyerin
  Hwangyerin/README.md
  Hwangyerin/정렬/국영수.py
Labels: Hwangyerin, 리뷰 완료 ✔️

#36 8-janghw0126
  janghw0126/README.md
  janghw0126/스택/stack_2.py
  janghw0126/스택/stack_3.py
Labels: janghw0126, 리뷰 완료 ✔️

#37 8-avocado-13
  avocado-13/README.md
  avocado-13/이진 탐색/부품 찾기.py
Labels: avocado-13, 리뷰 완료 ✔️

#39 9-Hwangyerin
  Hwangyerin/README.md
  Hwangyerin/구현/스위치 켜고 끄기.py
Labels: Hwangyerin, 리뷰 완료 ✔️

#41 9-avocado-13
  avocado-13/README.md
  avocado-13/구현/a.txt
  avocado-13/이진 탐색/나무 자르기.py
Labels: avocado-13, 리뷰 완료 ✔️
