Repository AlgoLeadMe/AlgoLeadMe-4, pull requests merged in 2024-09, with the labels that each got.

#138 5-janghw0126
  janghw0126/README.md
  janghw0126/덱/5430.py
  janghw0126/위상정렬/2056.py
Labels: janghw0126, 리뷰 완료 ✔️

#139 5-ljedd2
  LJEDD2/2024-2/README.md
  LJEDD2/2024-2/다이나믹프로그래밍/정수 삼각형.py
Labels: LJEDD2, 리뷰 완료 ✔️

#140 6-janghw0126
  janghw0126/BFS/쉬운 최단거리.py
  janghw0126/README.md
Labels: janghw0126, 리뷰 완료 ✔️

#144 7-jung0115
  janghw0126/브루트 포스/퇴사.py
  jung0115/README.md
  jung0115/다익스트라/Programmers_62050.java
Labels: 리뷰 기다리는 중 🔥, jung0115

#145 7-janghw0126
  janghw0126/DFS/양과 늑대.py
  janghw0126/README.md
Labels: janghw0126, 리뷰 기다리는 중 🔥

#155 7-wonjunYou
  wonjunYou/BFS/PRG_도넛과_막대_그래프.py
Labels: 리뷰 완료 ✔️, wonjunYou
