Repository AlgoLeadMe/AlgoLeadMe-4, pull requests merged in 2024-07, with the labels that each got.

#114 25-avocado-13
  avocado-13/README.md
  avocado-13/다익스트라/특정 거리의 도시 찾기.py
Labels: avocado-13, 리뷰 기다리는 중 🔥

#121 1-wonjunYou
  wonjunYou/README.md
  wonjunYou/스택/PRG_주식_가격.java
Labels: 리뷰 완료 ✔️, wonjunYou

#120 1-jung0115
  .DS_Store
  .gitignore
  jung0115/.gitignore
  jung0115/README.md
  jung0115/다이나믹 프로그래밍/Baekjoon_2624.kt
Labels: 리뷰 완료 ✔️, jung0115

#124 1-janghw0126
  janghw0126/README.md
  janghw0126/수학/2141.py
Labels: janghw0126, 리뷰 완료 ✔️

#123 1-ljedd2
  LJEDD2/2024-1/BFS/게임 맵 최단거리.py
  LJEDD2/2024-1/BFS/도시와 비트코인.py
  LJEDD2/2024-1/BFS/뱀과 사다리 게임.py
  LJEDD2/2024-1/BFS/상범 빌딩.py
  LJEDD2/2024-1/BFS/점프 게임.py
  LJEDD2/2024-1/BFS/점프 점프.py
  LJEDD2/2024-1/DFS/모음사전.py
  LJEDD2/2024-1/README.md
  LJEDD2/2024-1/SQL/대여 횟수가 많은 자동차들의 월별 대여 횟수 구하기.sql
  LJEDD2/2024-1/SQL/특정 기간동안 대여 가능한 자동차들의 대여비용 구하기.sql
  LJEDD2/2024-1/구현/봄버맨 2.py
  LJEDD2/2024-1/그리디/구명보트.py
  LJEDD2/2024-1/그리디/체육복.py
  LJEDD2/2024-1/그리디/큰 수 만들기.py
  LJEDD2/2024-1/누적합/순서쌍의 곱의 합.py
  LJEDD2/2024-1/누적합/체스판 다시 칠하기 2.py
  LJEDD2/2024-1/누적합/합 구하기.py
  LJEDD2/2024-1/다이나믹프로그래밍/2×n 타일링 2.py
  LJEDD2/2024-1/다이나믹프로그래밍/돌 게임2.py
  LJEDD2/2024-1/다이나믹프로그래밍/타일 채우기.py
  LJEDD2/2024-1/다이나믹프로그래밍/타일링.py
  LJEDD2/2024-1/다이나믹프로그래밍/파스칼 삼각형.py
  LJEDD2/2024-1/다익스트라/숨바꼭질3.py
  LJEDD2/2024-1/다익스트라/지름길.py
  LJEDD2/2024-1/백트래킹/사과 빨리 먹기.py
  LJEDD2/2024-1/백트래킹/세 번 이내에 사과를 먹자.py
  LJEDD2/2024-1/분할 정복/종이의 개수.py
  LJEDD2/2024-1/분할 정복/칸토어 집합.py
  LJEDD2/2024-1/애드 혹/더하기.py
  LJEDD2/2024-1/정수론/서로소 평균.py
  LJEDD2/2024-1/큐/다리를 지나는 트럭.py
  LJEDD2/2024-1/투 포인터/배열 합치기.py
  LJEDD2/2024-1/플로이드-워셜/플로이드.py
  LJEDD2/2024-1/해시/의상.py
  LJEDD2/2024-1/해시/전화번호 목록.py
  LJEDD2/2024-2/README.md
  LJEDD2/2024-2/이분탐색/입국심사.py
Labels: LJEDD2, 리뷰 완료 ✔️

#125 2-jung0115
  jung0115/.gitignore
  jung0115/README.md
  jung0115/백트래킹/Baekjoon_17182.kt
  jung0115/백트래킹/Baekjoon_17182_fail.kt
  jung0115/백트래킹/Baekjoon_17182_fail2.kt
Labels: 리뷰 완료 ✔️, jung0115

#127 2-janghw0126
  janghw0126/README.md
  janghw0126/그리디/회의실 배정.py
  janghw0126/백트래킹/Backtracking_2.py
  janghw0126/백트래킹/Backtracking_3.py
  janghw0126/수학/머리 톡톡.py
Labels: janghw0126, 리뷰 완료 ✔️
