Repository AlgoLeadMe/AlgoLeadMe-4, pull requests merged in 2024-02, with the labels that each got.

#44 10-avocado-13
  avocado-13/README.md
  avocado-13/문자열/영단어 암기는 괴로워.py
Labels: avocado-13, 리뷰 완료 ✔️

#43 10-LJEDD2
  LJEDD2/DFS/모음사전.py
  LJEDD2/README.md
Labels: LJEDD2, 리뷰 완료 ✔️

#46 10-Hwangyerin
  Hwangyerin/README.md
  Hwangyerin/이분 탐색/랜선 자르기.py
Labels: Hwangyerin, 리뷰 완료 ✔️

#47 11-Hwangyerin
  Hwangyerin/README.md
  Hwangyerin/수학/피보나치 수 5.py
Labels: Hwangyerin, 리뷰 완료 ✔️

#49 11-avocado-13
  avocado-13/README.md
  avocado-13/브루트포스 알고리즘/영화감독 숌
Labels: avocado-13, 리뷰 완료 ✔️

#51 12-Hwangyeirn
  Hwangyerin/README.md
  Hwangyerin/자료 구조/서로 다른 부분 문자열의 개수.py
Labels: Hwangyerin, 리뷰 완료 ✔️

#53 12-janghw0126
  janghw0126/DFS/DFS_1.py
  janghw0126/README.md
Labels: janghw0126, 리뷰 완료 ✔️

#61 14-janghw0126
  janghw0126/DFS/DFS_2.py
  janghw0126/README.md
  janghw0126/백트래킹/Backtracking_1.py
Labels: janghw0126, 리뷰 완료 ✔️

#52 12-avocado-13
  avocado-13/구현/unnamed.txt
  avocado-13/재귀/Rectangle.py
Labels: avocado-13, 리뷰 완료 ✔️

#58 13-avocado-13
  avocado-13/DFS/바닥 장식.py
Labels: avocado-13, 리뷰 완료 ✔️

#55 13-Hwangyerin
  Hwangyerin/README.md
  Hwangyerin/그리디 알고리즘/수들의 합.py
Labels: Hwangyerin, 리뷰 완료 ✔️

#65 15-janghw0126
  janghw0126/README.md
  janghw0126/백트래킹/Backtracking_2.py
Labels: janghw0126, 리뷰 완료 ✔️

#67 14-avocado 13
  avocado-13/DFS&BFS/DFS와 BFS.py
Labels: avocado-13, 리뷰 완료 ✔️

#64 16-LJEDD2
  LJEDD2/README.md
  LJEDD2/다이나믹프로그래밍/타일 채우기.py
Labels: LJEDD2, 리뷰 완료 ✔️

#66 16-janghw0126
  janghw0126/README.md
  janghw0126/백트래킹/Backtracking_2.py
  janghw0126/백트래킹/Backtracking_3.py
Labels: janghw0126, 리뷰 완료 ✔️

#71 15-avocado-13
  avocado-13/다이나믹 프로그래밍/1로 만들기.py
Labels: avocado-13, 리뷰 완료 ✔️

#68 15-Hwangyerin
  Hwangyerin/README.md
  Hwangyerin/그리디 알고리즘/알바생 강호.py
Labels: Hwangyerin, 리뷰 완료 ✔️

#72 17-janghw0126
  janghw0126/README.md
  janghw0126/백트래킹/Backtracking_4.py
Labels: janghw0126, 리뷰 완료 ✔️

#74 16-avocado 13
  avocado-13/README.md
  avocado-13/다이나믹 프로그래밍/설탕배달.py
Labels: avocado-13, 리뷰 완료 ✔️

#75 17-Hwangyerin
  Hwangyerin/README.md
  Hwangyerin/덱/풍선 터뜨리기.py
Labels: Hwangyerin, 리뷰 완료 ✔️

#78 17-avocado-13
  avocado-13/README.md
  avocado-13/큐/queuestack.py
Labels: avocado-13, 리뷰 완료 ✔️
